.parent {
  .child {
    .element {
      background-color: red;
      &:hover {
        background-color: blue;
      }
      &[data-active] {
        background-color: green;
      }
    }
  }
}
